@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');


.border-line{
	border:1px solid black;
}
ul{
	list-style: none;
	padding:0;
	
	
}



.links-menu-scorll{
	overflow: overlay;
	height:60rem;
	padding-bottom:25%;

}



.links-menu-scorll::-webkit-scrollbar {
	width: 0px;
 	background-color: transparent;
 
}
.links-menu-scorll::-webkit-scrollbar-track {
	  background:#fff;
}

.links-menu-scorll::-webkit-scrollbar-thumb {
	border-radius:1.5rem;
	background-color: transparent;
	
  
}
.links-menu-scorll:hover::-webkit-scrollbar{
	width: .5rem;
}
.links-menu-scorll:hover::-webkit-scrollbar-thumb{
	background-color:rgba(169,169,169,0.7);
}


a:link , a:visited{
	text-decoration: none;
	color: #2A323C;
	font-size:var(--font-default);
	
}

.active .link-list{
	background-color: var(--color-primary) !important;
	color: #fff;
	
}


.link-list:hover , .content-show{
	background-color:#f2f2f2;
}







/**logo img **/
.logo_img{
	width: 24rem;
	padding:3rem 0rem 2rem;
	display: block;
	background-color: #fff;
	line-height:7rem;
	height: 7rem;
	position: relative;
}
.logo{
	
	height:2.8rem;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	
}


/**menus title**/


.menu-title {
    padding: 1.2rem 2.5rem !important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 1.3rem;
    color: #9fa2a7;
}


/**menu element **/



.links-menu-scorll ul li{
	width: 100%;
	overflow-x: hidden;
}





/**menu element **/
.link-list{
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: 1.5rem;
	font-size:1.6rem;
	position: relative;
	transition:all .2s ease-out;
}

.link-list .badge{
		position: absolute;
		right: 2.5rem;
		background-color: var(--color-primary);
		border-radius: .9rem;
		text-align: center;
		padding: 3px .7rem;
    	font-size: 1.1rem;
    	color: #fff;
    	text-transform: uppercase;
		vertical-align:center;
		
}
.active .badge{
	background-color: #05b9cc;
}



	
.link-list span{
	display: flex;
	align-items: center;
	padding-left: 1rem;
	transition:all .2s ease-out;
	
	
}




/**sub menu **/
.submenu-list li{
	padding: 1rem;
	margin-left: 2.5rem;
	opacity: 0;
	transition:opacity .2s ease-out;
	
}

.submenu-list.hide{
	height: 0px;
	overflow: hidden;
	transition: height .2s ease-out;
}

.content-hide:after{
	content:'+';
	position:absolute;
	right: 3rem;
	font-size: 1.9rem;
	color: black;
}

.active > .content-hide:after{
	content:'-';
	position:absolute;
	right: 3rem;
	font-size: 3rem;
	color: white;
}


.content-show:after{
	content:'-';
	position:absolute;
	font-size: 3rem;
	right: 3rem;
	color: black;
}

.active > .content-show:after{
	content:'-';
	position:absolute;
	font-size:3rem;
	right: 3rem;
	color: white;
}

.submenu-list.show{
	height: auto;
	overflow: visible;
}

.submenu-list.show li{
	opacity: 1;
}



@media screen and (max-width:768px){
	.left-side{
		z-index:500;
		margin-top:4.5rem;
		display:none;
	
	}
	.visible.left-side{
		display:block;
	}

	.right-side{
		width: 100%;
		margin-top: 10%;
	}

	.logo_img{
		width: 7rem;
	}

	.round-circle{
		display: none;
	}	

	
}