.navbar-top{
	position: fixed;   
	top:0;
	z-index: 1000; 
	height: 7rem;
	width: 100%;
	
	
}


.top-nav{
	display:flex;
	justify-content: space-between;
	align-items:center;
	margin: 0px;
	height: 7rem;
	width: 100%;
	padding: 0px;
	background-color: #2a323c;
	color: #ffff;


	
}
.gray-color{
	color:#9fa2a7;
}
ul{
	padding-bottom: 0;
	margin-bottom: 0;
}
.left{
	display: flex;
	align-items: center;
	justify-content: center;


}
.right{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right:3rem;
	
}
.right li:not(:last-child){
	margin-right:1rem;
}
input::placeholder{
	color: #9fa2a7 !important;

}

input.search-bar:focus{
	border: 2px solid #9fa2a7 !important;
}

.left .form-control{
	width:20rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	color: #ffffff;

}




input.search-bar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid rgba(255, 255, 255, 0.30) !important;
    box-shadow: none !important;
    color: #ffffff !important;
    font-size: var(--font-default);
    height: 4.2rem;
    margin-top: .6rem;
    margin-left: 1.5rem;
    border-radius: .5rem;
    padding:2rem;
}

.toggle{
	
	display: none;	
	margin-left:2rem;
	margin-right:-.6rem;
}

.bar-toogle{
	transition: color .5s ease-in;
	color: #9fa2a7;
	line-height: 1;
	vertical-align: middle;
}
.bar-toogle:hover{
	color: #fff;
}



@media screen and (max-width:768px){
	.toggle{
		display: block;
	}
}


.round-circle{
	height: 3.6rem;
    width: 3.6rem;
    border:2px solid #9fa2a7;
	border-radius:50%;
	font-size: var(--font-default);
	display: flex;
	align-items: center;
	justify-content: center;
}
.avtar{
	border:2px solid #9fa2a7;
	
}

