
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

*{
  margin: 0;
  padding: 0;
}

*,*:before,*:after{
  font-family: inherit;
}

html{
  font-size:10px;
}

body {
  margin: 0;
  background-color: #2a323c ;
  font-family: 'PT Sans Caption', sans-serif ;
  margin: 0;
  font-size: 1.4rem ;
  color: #9fa2a7;
  line-height: 1.6;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* vairables */
:root {
  --color-primary:#04A2B3;
  --font-default:1.4rem;
}

